/* 阿里普惠体 */
@font-face {
    font-family: 'Ali_PuHuiTi';
    src: url('./SpaceMonoNerdFont-Regular.ttf') format('truetype');
    font-weight: 100;
}
@font-face {
    font-family: 'Ali_PuHuiTi';
    src: url('./SpaceMonoNerdFont-Regular.ttf') format('truetype');
    font-weight: 200;
}
@font-face {
    font-family: 'Ali_PuHuiTi';
    src: url('./SpaceMonoNerdFont-Regular.ttf') format('truetype');
    font-weight: 300;
}
@font-face {
    font-family: 'Ali_PuHuiTi';
    src: url('./SpaceMonoNerdFont-Regular.ttf') format('truetype');
    font-weight: 400;
}
@font-face {
    font-family: 'Ali_PuHuiTi';
    src: url('./SpaceMonoNerdFont-Bold.ttf') format('truetype');
    font-weight: 500;
}
@font-face {
    font-family: 'Ali_PuHuiTi';
    src: url('./SpaceMonoNerdFont-Bold.ttf') format('truetype');
    font-weight: 600;
}
@font-face {
    font-family: 'Ali_PuHuiTi';
    src: url('./SpaceMonoNerdFont-Bold.ttf') format('truetype');
    font-weight: 700;
}
@font-face {
    font-family: 'Ali_PuHuiTi';
    src: url('./SpaceMonoNerdFont-Bold.ttf') format('truetype');
    font-weight: 800;
}
@font-face {
    font-family: 'Ali_PuHuiTi';
    src: url('./SpaceMonoNerdFont-Bold.ttf') format('truetype');
    font-weight: 900;
}

/* 思源黑体 */
@font-face {
    font-family: 'SiYuan_HeiTi';
    src: url('./SpaceMonoNerdFont-Regular.ttf') format('truetype');
    font-weight: 100;
}
@font-face {
    font-family: 'SiYuan_HeiTi';
    src: url('./SpaceMonoNerdFont-Regular.ttf') format('truetype');
    font-weight: 200;
}
@font-face {
    font-family: 'SiYuan_HeiTi';
    src: url('./SpaceMonoNerdFont-Regular.ttf') format('truetype');
    font-weight: 300;
}
@font-face {
    font-family: 'SiYuan_HeiTi';
    src: url('./SpaceMonoNerdFont-Regular.ttf') format('truetype');
    font-weight: 400;
}
@font-face {
    font-family: 'SiYuan_HeiTi';
    src: url('./SpaceMonoNerdFont-Bold.ttf') format('truetype');
    font-weight: 500;
}
@font-face {
    font-family: 'SiYuan_HeiTi';
    src: url('./SpaceMonoNerdFont-Bold.ttf') format('truetype');
    font-weight: 600;
}
@font-face {
    font-family: 'SiYuan_HeiTi';
    src: url('./SpaceMonoNerdFont-Bold.ttf') format('truetype');
    font-weight: 700;
}

/* 霞鹜文楷 */
@font-face {
    font-family: 'XiaWuWenKai';
    src: url('./SpaceMonoNerdFont-Regular.ttf') format('truetype');
    font-weight: 100;
}
@font-face {
    font-family: 'XiaWuWenKai';
    src: url('./SpaceMonoNerdFont-Regular.ttf') format('truetype');
    font-weight: 200;
}
@font-face {
    font-family: 'XiaWuWenKai';
    src: url('./SpaceMonoNerdFont-Regular.ttf') format('truetype');
    font-weight: 300;
}

/* 站酷仓耳渔阳体 */
@font-face {
    font-family: 'ZhanKu_YvYangTi';
    src: url('./SpaceMonoNerdFont-Regular.ttf') format('truetype');
    font-weight: 100;
}
@font-face {
    font-family: 'ZhanKu_YvYangTi';
    src: url('./SpaceMonoNerdFont-Regular.ttf') format('truetype');
    font-weight: 200;
}
@font-face {
    font-family: 'ZhanKu_YvYangTi';
    src: url('./SpaceMonoNerdFont-Regular.ttf') format('truetype');
    font-weight: 300;
}
@font-face {
    font-family: 'ZhanKu_YvYangTi';
    src: url('./SpaceMonoNerdFont-Regular.ttf') format('truetype');
    font-weight: 400;
}
@font-face {
    font-family: 'ZhanKu_YvYangTi';
    src: url('./SpaceMonoNerdFont-Bold.ttf') format('truetype');
    font-weight: 500;
}